<div id="<%= dom_id budget %>">
  <div>
    <strong>Month:</strong>
    <%= budget.month %>
  </div>

  <div>
    <strong>Limit amount:</strong>
    <%= budget.limit_amount %>
  </div>

  <div>
    <strong>Category:</strong>
    <%= budget.category_id %>
  </div>

  <div>
    <strong>User:</strong>
    <%= budget.user_id %>
  </div>

</div>
